<div class="row">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Register</span>
        <input placeholder="Name" type="text" class="form-control"   [(ngModel)]="name">
        <input placeholder="User Name" type="text" class="form-control"   [(ngModel)]="userName">
        <input placeholder="Password" type="password" class="form-control"   [(ngModel)]="password">
    </div>
</div>

  <div class="border border-dark p-3 mb-4">

    <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Register</button>
    </div>

  </div>

  {{name}}